.DS_Store
dist
public/config.js

.DS_Store
node_modules
/dist
public/config.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Avoid yarn.lock dulplication in favor of package-lock.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
